name: CI/CD Pipeline  

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: set node version
        uses: actions/setup-node@v2
      - name: Install dependencies
        run: npm install
      - name: Run tests
        run: npm run check 
      
  deploy:
    needs: test
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: node install
        run: npm install
      - name: pm2 install
        run: npm install pm2 -g
      - name: Deploy application
        run: pm2 start "npm start" --name="server"
      - name: pm2 status
        run: pm2 status   